ActualFinalProject/ActualFinalProject/Service References/CalculateTotalsReference/CalculateTotals.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CalculateTotal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subtotal" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateTotalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateTotalResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalculateTotalSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateTotal" />
  </wsdl:message>
  <wsdl:message name="CalculateTotalSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateTotalResponse" />
  </wsdl:message>
  <wsdl:portType name="CalculateTotalsSoap">
    <wsdl:operation name="CalculateTotal">
      <wsdl:input message="tns:CalculateTotalSoapIn" />
      <wsdl:output message="tns:CalculateTotalSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculateTotalsSoap" type="tns:CalculateTotalsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateTotal">
      <soap:operation soapAction="http://tempuri.org/CalculateTotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalculateTotalsSoap12" type="tns:CalculateTotalsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateTotal">
      <soap12:operation soapAction="http://tempuri.org/CalculateTotal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculateTotals">
    <wsdl:port name="CalculateTotalsSoap" binding="tns:CalculateTotalsSoap">
      <soap:address location="http://localhost:53718/CalculateTotals.asmx" />
    </wsdl:port>
    <wsdl:port name="CalculateTotalsSoap12" binding="tns:CalculateTotalsSoap12">
      <soap12:address location="http://localhost:53718/CalculateTotals.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>